<div class="header">
    <h1>Major U.S. DoD Contracts</h1>
    <h3>Contracts over $6.5M in value since July 1, 2014</h3>
    <h3>At least <%= @totalNum %>
        has been spent on large military contracts since June 1, 2014</h3>
    <p id="numMissing">LOADING. If hanging, refresh page.</p>
</div>
<div id="d3me"></div>
<!-- <ul>
<% @contracts.each do |contract| %>
<li><%= link_to contract.title, contract_path(contract.id) %></li>
<% end %>
</ul> -->
<script id="contracts_json" type="text/json">
    <%= raw @contractsJSON %>
</script>
