<div class="header">
    <h1 class="jumbotron">Reporting Agencies</h1>
</div>
<div class="container list-group breakdown">
    <% @agencies.each do |agency| %>
    <%= link_to agency.name, agency, {:class => "list-group-item"} %>
    <% end %>
</div>
