html{
    color: white;
    background: black;
}
#d3me{
    width: 100%;
    margin: 0, auto;
}
.bar{
    background: lightgreen;
    color: lightgreen;
    display: inline-block;;
}
.bar:hover{
    background: yellow;
}
