@import "bootstrap";
html{
}
.header, #d3me{
    width: 80%;
    margin: auto;
    text-align: center;
}
#d3me{
    transform: scale(-1,1);
}
.bar{
    background: lightgreen;
    color: lightgreen;
    display: inline-block;;
}

.breakdown{
    margin: 0 auto;
    text-align: center;
}
